body{
    margin: 0;
    padding: 0;
}

select{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}

.sec1{
    background: url(./fondos/photo-1537041278465-135ad5da2074.jpg);
    background-repeat: repeat;
    background-size: contain;
    background-position:center;
}

.sec2{
    background: url(./fondos/photo-1537041278465-135ad5da2074.jpg);
    background-repeat: repeat;
    background-size: contain;
    background-position:center;
}
.sec3{
    background: url(./fondos/photo-1537041278465-135ad5da2074.jpg);
    background-repeat: repeat;
    background-size: contain;
    background-position:center;
}

